{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <h4>{{ sid_text }}{{ sid }}</h4>
        <h4>Original text entries:</h4>
        <p>Entered user name: {{ username }}</p>
        <p>Entered password: {{ password }}</p>
        <p>Entered email: {{ email }}</p>
        <p>Entered dietary requirements: {{ requirements }}</p>

        <h4>Cleaned text entries:</h4>
        <p>Entered user name: {{ sanitised_username }}</p>
        <p>Entered password: {{ cleaned_password }}</p>
        <p>Entered email: {{ sanitised_email }}</p>
        <p>Entered dietary requirements: {{ sanitised_requirements }}</p>

        <h4>Hashed Password:</h4>
        <p>NB The password was hashed with the BCrypt library</p>
        <p>Hashed password: {{ hashed_password }}</p>

        <h4>Encrypted text entries:</h4>
        <p>NB The libsodium library version used is {{ libsodium_version }}</p>
        <p>Nonce used to encrypt user name: {{ nonce_value_username }}</p>
        <p>Encrypted user name: {{ encrypted_username }}</p>
        <p>Nonce used to encrypt email: {{ nonce_value_email }}</p>
        <p>Encrypted email: {{ encrypted_email }}</p>
        <p>Nonce used to encrypt dietary requirements: {{ nonce_value_dietary_requirements }}</p>
        <p>Encrypted dietary requirements: {{ encrypted_requirements }}</p>

        <h4>Base64 Encoded strings from the encrypted entries:</h4>
        <p>Encoded user name: {{ encoded_username }}</p>
        <p>Encoded email: {{ encoded_email }}</p>
        <p>Encoded dietary requirements: {{ encoded_requirements }}</p>

        <h4>Decrypted Strings:</h4>
        <p>Decrypted user name: {{ decrypted_username }}</p>
        <p>Decrypted email: {{ decrypted_email }}</p>
        <p>Decrypted dietary requirements: {{ decrypted_dietary_requirements }}</p>

        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}
