{% extends'layout.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <h4>{{ sid_text }}{{ sid }}</h4>
        <form action="{{ action }}" method="post">
            <fieldset>
                <legend>Login Page</legend>
                <br>
                <label for="username">Enter your name:</label>
                <input id="username" name="username" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>
                <label for="password">Enter your password:</label>
                <input id="password" name="password" type="password" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br>
                <h4>{{ page_heading_3 }}</h4>
                <input type="submit" value="Login >>>">
            </fieldset>
        </form>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}
