{% extends'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <h4>{{ sid_text }}{{ sid }}</h4>
        <form action="{{ action }}" method="post">
            <fieldset>
                <legend>SMS Page</legend>
                <br>
                <label for="SMS">Enter Text:</label>
                <input id="sms" name="sms" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br>
                <br>
                <br>
                <label for="server_type">Choose your storage type:</label>
                <input id="server_type" name="server_type" type="radio" value="file" checked="checked"/>Session File
                <input id="server_type" name="server_type" type="radio" value="database"/>Database
                <h4>{{ page_heading_3 }}</h4>
                <input type="submit" value="Send SMS >>>">

            </fieldset>
        </form>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}
