

{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <h4>{{ sid_text }}{{ sid }}</h4>
        <h4>{{ storage_text }}</h4>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
        <form action="{{ action }} " method="post">
            <input id="sid" name="sid" type="hidden" value="{{ sid }}" size="30" maxlength="50">
            <input type="submit" value="View the information >>>">
            </form>


    </div>
{% endblock %}

